#editor {
    width: 800px;
    height: 600px;
    border: 1px solid #ddd;
}

.consola{
    width: auto;
    height: 710px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 50px;
}